/* Fonts */
/*Helvetica Neue*/
@font-face {
  font-family: "Helvetica Neue Condensed";
  src: url("../fonts/HelveticaNeueHelveticaNeueCondensed-Thin.woff2") format("woff2"), url("../fonts/HelveticaNeueHelveticaNeueCondensed-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeueHelveticaNeue-UltraLight.woff2") format("woff2"), url("../fonts/HelveticaNeueHelveticaNeue-UltraLight.woff") format("woff");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: "Helvetica Neue Condensed";
  src: url("../fonts/HelveticaNeueHelveticaNeueCondensed-Heavy.woff2") format("woff2"), url("../fonts/HelveticaNeueHelveticaNeueCondensed-Heavy.woff") format("woff");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeueHelveticaNeue-Medium.woff2") format("woff2"), url("../fonts/HelveticaNeueHelveticaNeue-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeueHelveticaNeue-LightItalic.woff2") format("woff2"), url("../fonts/HelveticaNeueHelveticaNeue-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeueHelveticaNeue-Thin.woff2") format("woff2"), url("../fonts/HelveticaNeueHelveticaNeue-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: "Helvetica Neue Condensed";
  src: url("../fonts/HelveticaNeueHelveticaNeueCondensed-Bold.woff2") format("woff2"), url("../fonts/HelveticaNeueHelveticaNeueCondensed-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeueHelveticaNeue-ThinItalic.woff2") format("woff2"), url("../fonts/HelveticaNeueHelveticaNeue-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic; }

@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeueHelveticaNeue-UltraLightItalic.woff2") format("woff2"), url("../fonts/HelveticaNeueHelveticaNeue-UltraLightItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic; }

@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeueHelveticaNeue-BoldItalic.woff2") format("woff2"), url("../fonts/HelveticaNeueHelveticaNeue-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeueHelveticaNeue-Light.woff2") format("woff2"), url("../fonts/HelveticaNeueHelveticaNeue-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeueHelveticaNeue.woff2") format("woff2"), url("../fonts/HelveticaNeueHelveticaNeue.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Helvetica Neue Condensed";
  src: url("../fonts/HelveticaNeueHelveticaNeueCondensed-Light.woff2") format("woff2"), url("../fonts/HelveticaNeueHelveticaNeueCondensed-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeueHelveticaNeue-Bold.woff2") format("woff2"), url("../fonts/HelveticaNeueHelveticaNeue-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: "Helvetica Neue Condensed";
  src: url("../fonts/HelveticaNeueHelveticaNeueCondensed.woff2") format("woff2"), url("../fonts/HelveticaNeueHelveticaNeueCondensed.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Helvetica Neue Condensed";
  src: url("../fonts/HelveticaNeueHelveticaNeueCondensed-Medium.woff2") format("woff2"), url("../fonts/HelveticaNeueHelveticaNeueCondensed-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeueHelveticaNeue-Black.woff2") format("woff2"), url("../fonts/HelveticaNeueHelveticaNeue-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeueHelveticaNeue-Italic.woff2") format("woff2"), url("../fonts/HelveticaNeueHelveticaNeue-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic; }

/* Raleway */
@font-face {
  font-family: "Raleway";
  src: url("../fonts/RalewayRaleway-MediumItalic.woff2") format("woff2"), url("../fonts/RalewayRaleway-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic; }

@font-face {
  font-family: "Raleway";
  src: url("../fonts/RalewayRaleway-ThinItalic.woff2") format("woff2"), url("../fonts/RalewayRaleway-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic; }

@font-face {
  font-family: "Raleway";
  src: url("../fonts/RalewayRaleway-ExtraBold.woff2") format("woff2"), url("../fonts/RalewayRaleway-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal; }

@font-face {
  font-family: "Raleway";
  src: url("../fonts/RalewayRaleway-LightItalic.woff2") format("woff2"), url("../fonts/RalewayRaleway-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: "Raleway";
  src: url("../fonts/RalewayRaleway-Light.woff2") format("woff2"), url("../fonts/RalewayRaleway-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: "Raleway";
  src: url("../fonts/RalewayRaleway-Black.woff2") format("woff2"), url("../fonts/RalewayRaleway-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: "Raleway";
  src: url("../fonts/RalewayRaleway-Italic.woff2") format("woff2"), url("../fonts/RalewayRaleway-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: "Raleway";
  src: url("../fonts/RalewayRaleway-ExtraLight.woff2") format("woff2"), url("../fonts/RalewayRaleway-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: "Raleway";
  src: url("../fonts/RalewayRaleway-SemiBoldItalic.woff2") format("woff2"), url("../fonts/RalewayRaleway-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic; }

@font-face {
  font-family: "Raleway";
  src: url("../fonts/RalewayRaleway-SemiBold.woff2") format("woff2"), url("../fonts/RalewayRaleway-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: "Raleway";
  src: url("../fonts/RalewayRaleway-BoldItalic.woff2") format("woff2"), url("../fonts/RalewayRaleway-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: "Raleway";
  src: url("../fonts/RalewayRaleway-BlackItalic.woff2") format("woff2"), url("../fonts/RalewayRaleway-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic; }

@font-face {
  font-family: "Raleway";
  src: url("../fonts/RalewayRaleway-Regular.woff2") format("woff2"), url("../fonts/RalewayRaleway-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Raleway";
  src: url("../fonts/RalewayRaleway-Bold.woff2") format("woff2"), url("../fonts/RalewayRaleway-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: "Raleway";
  src: url("../fonts/RalewayRaleway-Thin.woff2") format("woff2"), url("../fonts/RalewayRaleway-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: "Raleway";
  src: url("../fonts/RalewayRaleway-Medium.woff2") format("woff2"), url("../fonts/RalewayRaleway-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: "Raleway";
  src: url("../fonts/RalewayRaleway-ExtraLightItalic.woff2") format("woff2"), url("../fonts/RalewayRaleway-ExtraLightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic; }

@font-face {
  font-family: "Raleway";
  src: url("../fonts/RalewayRaleway-ExtraBoldItalic.woff2") format("woff2"), url("../fonts/RalewayRaleway-ExtraBoldItalic.woff") format("woff");
  font-weight: 800;
  font-style: italic; }

body {
  background-color: #fff; }

.wrpaper {
  width: 982px;
  margin: 0 auto; }

.wrapper-fluid {
  width: 1280px;
  margin: 0 auto; }

header {
  width: 100%;
  background-color: #0075ff;
  color: #fff;
  min-height: 35px;
  padding-bottom: 4em; }
  header .header-top {
    padding: 2.5em 2.5em;
    width: 100%; }
    header .header-top .logo {
      width: 166px;
      height: 35px; }
    header .header-top .lang {
      color: #fff;
      text-decoration: underline;
      font-family: "Helvetica Neue", sans-serif;
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.56;
      letter-spacing: normal;
      text-align: left;
      float: right;
      background-color: #0075ff;
      border: none;
      cursor: pointer;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      outline: none; }
      header .header-top .lang :active {
        border: none; }
  header .header-main {
    margin-top: 2em;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    header .header-main .headline .caption {
      font-family: "Raleway", sans-serif;
      font-size: 70px;
      font-weight: 900;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.21;
      letter-spacing: normal;
      text-align: left;
      margin-bottom: 21px; }
    header .header-main .headline .slogan {
      font-family: "Helvetica Neue", sans-serif;
      font-size: 20px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.25;
      letter-spacing: normal;
      text-align: left;
      margin-bottom: 50px; }
      header .header-main .headline .slogan span::before {
        content: "\A";
        white-space: pre; }
    header .header-main .headline .btn {
      width: 250px;
      height: 65px;
      border-radius: 5px;
      background-color: #fff;
      font-family: "Helvetica Neue", sans-serif;
      font-size: 23px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.09;
      letter-spacing: normal;
      text-align: center;
      color: #0075ff; }
    header .header-main .rocket {
      width: 478px;
      height: 488px;
      -o-object-fit: contain;
      object-fit: contain; }

.services .caption {
  width: 100%;
  font-family: "Raleway", sans-serif;
  font-size: 60px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.21;
  letter-spacing: normal;
  text-align: left;
  margin: 80px 0px; }
  .services .caption span::before {
    content: "\A";
    white-space: pre; }

.services .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 80px; }
  .services .cards__item {
    width: 221px;
    text-align: left;
    margin-bottom: 80px; }
    .services .cards__item .svg-cards {
      height: 60px;
      margin-bottom: 25px; }
    .services .cards__item .title {
      font-family: "Helvetica Neue", sans-serif;
      font-size: 20px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.25;
      letter-spacing: normal;
      text-align: left;
      color: #0075ff; }
    .services .cards__item .text {
      font-family: "Helvetica Neue", sans-serif;
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.38;
      letter-spacing: normal;
      text-align: left;
      color: #000; }
