/* Fonts */
@import "fonts.scss";

// Varibles
$primary-white: #fff;
$primary-blue: #0075ff;
$primary-black: #000;
$primary-grey: #9b9b9b;
$font-Raleway: "Raleway", sans-serif;
$font-Helvetica: "Helvetica Neue", sans-serif;

body {
  // width: 1280px;
  background-color: $primary-white;
}

img {
  object-fit: contain;
}

.btn {
  font-family: $font-Helvetica;
  background-color: $primary-white;
  color: $primary-blue;
  width: 250px;
  height: 65px;
  border-radius: 5px;
  font-size: 23px;
  font-weight: 600;
  text-align: center;
  border: none;
  transition: 0.4s ease-in-out;
  &:hover {
    border: none;
    background-color: #fddd37;
    color: $primary-black;
  }
}

.captionW {
  font-family: $font-Raleway;
  color: $primary-white;
  font-size: 70px;
  font-weight: 900;
  text-align: left;
  margin-bottom: 21px;
}

.slogan {
  color: $primary-white;
  font-family: $font-Helvetica;
  font-size: 20px;
  text-align: left;
  margin-bottom: 50px;
  span::before {
    content: "\A";
    white-space: pre;
  }
}

// .wrpaper {
//   width: 982px;
//   margin: 0 auto;
// }
// .wrapper-fluid {
//   width: 1280px;
//   margin: 0 auto;
// }

.header {
  background-color: $primary-blue;
  color: $primary-white;
  width: 100%;
  // min-height: 35px;
  padding-bottom: 60px 1em;
  // height: 741px;
  .header-top {
    padding: 2.5em 16.5em;
    width: 100%;
    .logo {
      width: 166px;
      height: 35px;
    }
    .lang {
      font-family: $font-Helvetica;
      color: $primary-white;
      background-color: $primary-blue;
      text-decoration: underline;
      font-size: 16px;
      text-align: left;
      float: right;
      border: none;
      cursor: pointer;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      outline: none;
      :active {
        border: none;
      }
    }
  }
  .header-main {
    margin-top: 2em;
    width: 100%;
    display: flex;
    .headline {
    }
    .rocket {
      width: 478px;
      height: 488px;
      object-fit: contain;
    }
  }
}

.services {
  .caption {
    width: 100%;
    font-family: $font-Raleway;
    font-size: 60px;
    font-weight: 800;

    text-align: left;
    margin: 80px 0px;
    span::before {
      content: "\A";
      white-space: pre;
    }
  }
  .cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 80px;
    &__item {
      width: 221px;
      text-align: left;
      margin-bottom: 80px;

      .svg-cards {
        height: 60px;
        margin-bottom: 25px;
      }
      .title {
        font-family: $font-Helvetica;
        font-size: 20px;
        font-weight: bold;

        text-align: left;
        color: #0075ff;
      }
      .text {
        font-family: $font-Helvetica;
        font-size: 16px;

        line-height: 1.38;

        text-align: left;
        color: $primary-black;
      }
    }
  }
}

.content {
  background-color: #fddd37;
  .fill {
    margin-top: 52px;
    object-fit: contain;
    transform: rotate(4deg);
    transition: 1s ease;
    &:hover {
      transform: rotate(10deg);
    }
  }
  .caption {
    font-family: $font-Raleway;
    color: $primary-black;
    width: 430px;
    height: 260px;
    font-size: 55px;
    font-weight: 800;
    text-align: left;
  }
  .laptop {
  }
}

.form {
  background-color: $primary-blue;
  padding: 130px 0px;
  .slogan {
    margin-top: 60px;
    margin-bottom: 20px;
  }
  .form-control {
    color: $primary-white;
    height: 55px;
    outline: none;
    border: none;
    border-radius: 3px;
    font-size: 23px;
    background-color: #2d8dff;
    &::placeholder {
      color: $primary-white;
      font-family: $font-Helvetica;
      font-size: 23px;
      text-align: left;
      text-indent: 0px;
      transition: text-indent 0.3s ease;
    }
    &:focus::placeholder {
      text-indent: 520px;
      transition: text-indent 0.3s ease;
    }
  }
  .btn {
    display: block;
    margin: 0 auto;
    margin-top: 35px;
  }
}
.footer {
  padding: 2.5em 12em;
  .flex-container {
    display: flex;
    width: 100%;
    justify-content: space-around;
    .link {
      font-family: $font-Helvetica;
      color: $primary-grey;
      font-size: 16px;
      text-decoration: none;
      line-height: 63px;
      cursor: pointer;
    }
    .icon-ul {
      list-style: none;
      display: flex;
      justify-content: space-between;
      .icons {
        color: $primary-grey;
        display: inline-block;
        margin: 0em 1em;
        font-size: 21px;
        line-height: 63px;
        transition: 0.4s ease;
        cursor: pointer;
        &:hover {
        cursor: pointer;
          transform: translate3d(0%, -15%, 0);
        }
      }
    }
  }
}

@import "responsive.scss";
