/* Fonts */
@import "fonts.scss";

// Varibles
$primary-white: #fff;
$primary-blue: #0075ff;
$primary-black: #000;
$primary-grey: #9b9b9b;
$font-Raleway: "Raleway", sans-serif;
$font-Helvetica: "Helvetica Neue", sans-serif;

body {
  // width: 1280px;
  background-color: $primary-white;
}

.wrpaper {
  width: 982px;
  margin: 0 auto;
}
.wrapper-fluid {
  width: 1280px;
  margin: 0 auto;
}

header {
  width: 100%;
  background-color: $primary-blue;
  color: $primary-white;
  min-height: 35px;
  padding-bottom: 4em;
  // height: 741px;
  .header-top {
    padding: 2.5em 2.5em;
    width: 100%;
    .logo {
      width: 166px;
      height: 35px;
    }
    .lang {
      color: $primary-white;
      text-decoration: underline;
      font-family: $font-Helvetica;
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.56;
      letter-spacing: normal;
      text-align: left;
      float: right;
      background-color: $primary-blue;
      border: none;
      cursor: pointer;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      outline: none;
      :active {
        border: none;
      }
    }
  }
  .header-main {
    margin-top: 2em;
    width: 100%;
    display: flex;
    .headline {
      .caption {
        font-family: $font-Raleway;
        font-size: 70px;
        font-weight: 900;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.21;
        letter-spacing: normal;
        text-align: left;
        margin-bottom: 21px;
      }
      .slogan {
        font-family: $font-Helvetica;
        font-size: 20px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.25;
        letter-spacing: normal;
        text-align: left;
        margin-bottom: 50px;
        span::before {
          content: "\A";
          white-space: pre;
        }
      }
      .btn {
        width: 250px;
        height: 65px;
        border-radius: 5px;
        background-color: $primary-white;
        font-family: $font-Helvetica;
        font-size: 23px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.09;
        letter-spacing: normal;
        text-align: center;
        color: $primary-blue;
      }
    }
    .rocket {
      width: 478px;
      height: 488px;
      object-fit: contain;
    }
  }
}

.services {
  .caption {
    width: 100%;
    font-family: $font-Raleway;
    font-size: 60px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.21;
    letter-spacing: normal;
    text-align: left;
    margin: 80px 0px;
    span::before {
      content: "\A";
      white-space: pre;
    }
  }
  .cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 80px;
    &__item {
      width: 221px;
      text-align: left;
      margin-bottom: 80px;

      .svg-cards {
        height: 60px;
        margin-bottom: 25px;
      }
      .title {
        font-family: $font-Helvetica;
        font-size: 20px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.25;
        letter-spacing: normal;
        text-align: left;
        color: #0075ff;
      }
      .text {
        font-family: $font-Helvetica;
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.38;
        letter-spacing: normal;
        text-align: left;
        color: $primary-black;
      }
    }
  }
}

@import "responsive.scss";
